{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="UserName">Username</label>
    <input
      type="text"
      class="form-control"
      id="UserName"
      name="UserName"
      placeholder="Choose a username for you"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>

  <div class="form-group">
    <label for="birthdate">Birthdate</label>
    <input
      type="date"
      class="form-control"
      id="birthdate"
      name="birthdate"
      placeholder="Enter your birthdate"
      />
  </div>
    <div class="form-group">
    <label for="gender">Gender</label>
    <input
      type="text"
      class="form-control"
      id="gender"
      name="gender"
      placeholder="Enter 'F' for female, 'M' for male "
    />
    </div>

    <div class="form-group">
    <label for="favoriteteam">Favorite team</label>
    <input
      type="text"
      class="form-control"
      id="favoriteteam"
      name="favoriteteam"
      placeholder="Enter your favorite team "
    />
  </div>


  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
     </div>
   <br />
   <br />
</form>
{% endblock %}